<!DOCTYPE html>
<html>

<head>
    <%- include('partials/metaheader') %>
    <title>Edit <%= profile.name %></title>
    <script type="text/javascript" src="/js/modifiers.js"></script>
</head>

<body class="container-fluid">
    <h2 class="center-text"><em><%= profile.name %></em></h2>
    <p style="display: <%= (updated == true) ? 'block' : 'none' %>"
        class="col-md-6 offset-md-3 message-box bg-<%= (success == true) ? 'success' : 'danger' %>">
        <% if (updated == true) { %>
        <% if (success == true) { %>
        <%= 'Updated' %>
        <% } else { %>
        <%= 'An error occured' %>
        <% } %>
        <% } %>
    </p>
    <form method="post">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 style="margin-bottom: 1em;">Modifiers</h3>
                <table id="modifiers-table" class="table">
                    <tr>
                        <th>Route</th>
                        <th>Modifier</th>
                    </tr>
                    <% routes.forEach((route, index) => { %>
                    <%	const value = profile.modifiers[route.label] %>
                    <tr>
                        <td><code><%= route.type %></code> <code><%= route.name %></code></td>
                        <td><input list="modifiers_<%= index %>" name="<%= route.label %>" value="<%= value %>"
                                autocomplete="off">
                            <datalist id="modifiers_<%= index %>">
                                <% route.modifiers.forEach(modifier => { %>
                                <option value="<%= modifier %>"></option>
                                <% }) %>
                            </datalist>
                        </td>
                    </tr>
                    <% }) %>
                </table>

                <div class="action-block">
                    <button type="button" onClick="javascript:window.location.href='<%= pathPrefix %>/admin/profiles/'"
                        class="btn btn-default">Back</button>
                    <input type="submit" value="Update" class="btn btn-primary pull-right">
                </div>
            </div>
        </div>
    </form>
</body>

</html>